// Font-awesome
$fa-font-path: '~font-awesome/fonts';

// Sidebar vars
$sidebar-left-width: 240px;
$sidebar-right-width: 240px;

$sidebar-bg: #FFF;
$sidebar-hover: #31333A;
$sidebar-active: #4394e0;
$sidebar-footer-h: 35px;

// Header
$header-height: 50px;
$header-bg: #FFFFFF;
$header-color: #444547;

