/* common style file */
@import './yantramanav-font.css';

/* disable outline for each elements */
:focus {
	outline: 0;
}

/* bluring el */
.blur {
	filter: blur(2px);
	transition: filter .6s;

	&.x2 { filter: blur(4px) }
	&.x3 { filter: blur(6px) }

	&:hover, &:focus, &.active {
		filter: blur(0);
	}
}

/* img utils classes */
.img.circle {
	border-radius: 50%;
}

.img.bg {
	min-width: 10px;
	min-height: 10px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center, center;
	background-color: darken($body-bg, 5%);
}

/* fonst smooth */
.font-smooth {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* code styles */
code {
	padding: .2rem .4rem;
	background-color: $gray-100;
}

/* text align with breakpoint  */
@each $breakpoint in map-keys($grid-breakpoints) {
	$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

	@include media-breakpoint-up($breakpoint) {
		.text-left#{$infix} { text-align: left !important; }
		.text-right#{$infix} { text-align: right !important; }
		.text-center#{$infix} { text-align: center !important; }
	}
}

/* table fix */
.table th, .table td {
	padding: 1rem;
	vertical-align: middle;
}

/* fix swal bootstrap modal overlay */
.swal2-container {
	z-index: 3000;
}

.full-height {
	height: 100% !important;
}

.full-width {
	width: 100% !important;
}

.scrollbar-wrapper {
	height: 100%;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;

	-webkit-overflow-scrolling: touch !important;

	&--sp {
		&::-webkit-scrollbar {
			width: 6px;
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			border-left: 3px solid rgba(0, 0, 0, 0.25);
		}
	}
}
